* {
  color: aliceblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;


  

}

body {
  background: rgb(25,82,93);
  background: linear-gradient(90deg, rgba(25,82,93,1) 1%, rgba(38,101,124,1) 15%, rgba(43,99,124,1) 29%, rgba(6,33,47,1) 61%);
}

.navbar {
  background: rgb(19,30,32);
background: linear-gradient(90deg, rgba(19,30,32,1) 6%, rgba(60,120,150,1) 74%, rgba(148,187,233,1) 100%);
  position: sticky;
  top: 0;
  
  font-weight: 400;



}

.navbar ul {
  overflow: hidden;
  list-style: none;
}

.navbar li {
  float: left;
  margin: 17px 6px;
  padding: 10px 19px;
  font-size: 25px;
  border-radius: 5px;

}
.navbar li:hover{
  text-shadow: 1px 1px 2px rgb(248, 243, 243), 0 0 25px rgb(216, 216, 220), 0 0 5px rgb(108, 108, 116);
}
.navbar a {
  text-decoration: none;
  color: aliceblue;
}

.a:hover {
  cursor: pointer;

}

.search {
  float: right;
  padding: 31px 62px;
  border-radius: 2px;
}

.navbar input {

  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(240, 240, 237, 0.5);
  border-radius: 15px;
  padding: 5px;

}

.blog1 {

  border-top: 3px solid white;


}

.blog1 h1 {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid white;
  
  margin-top: 5px;
  margin-right: 95px;
  font-size: 50px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(164, 164, 167), 0 0 5px rgb(108, 108, 116);
}

#content h1 {
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(185, 185, 189), 0 0 5px rgb(108, 108, 116);
  margin-top: 10px;
  margin-bottom: 10px;
}
#content  ul{
  font-size: 25px;
   padding:30px
 
 
}
#content li{
 margin:5px;
 font-size: 30px;
 line-height: 1.2;

 

}
#content hr{
  border: 2px solid white;  

}

.expect {
  border: 3px solid white;
  float: left;
  width: 50%;
  position: absolute;
  display: inline block;

}



.reality {
  border: 3px solid white;
  float: right;
  width: 50%;

}

.reality p {
  margin: 10px;
}
.quote{
  border: 0px solid rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(190, 190, 194), 0 0 5px rgb(108, 108, 116);
}